<!DOCTYPE html>
<html>
<head>
  <title>Paraverse - <%= title %></title>
  <%- include('../partials/_head.ejs') %>
</head>

<body>
  <!-- TOP NAVIGATION BAR -->
  <%- include('../partials/_navbar.ejs') %>
  <br><br><br><br><br>
  <!-- HEADER -->
  <div class="welcome">
      <h2>Paraverse  Blog</h2>
      <section>Stay up to date with Paraverse Studio. View all our latest blogs here.</section><br>
      <hr class="welcome"><br>
  </div>

  <section class="blogs-section">
    <% if (user != null || user != undefined) { %> 
    <a href="/blogs/new" class="a-btn new-blog-btn">New Blog</a>
    <% } %> 
    <% blogs.forEach(blog => { %>
      <div class="blog-container">
        <div>
          <h4><a href="/blogs/<%= blog.slug %>" class="blog-title-link"><%= blog.title %></a></h4>
          <div class="blog-date-text">
            <%= blog.createdAt.toLocaleDateString() %>
          </div>
          <span>
            <% if (blog.author === "Abhinav Mohan") { %>
              <img class="author-image" src="../../images/Abhinav.png"><span class="author-name"><%= blog.author %></span>
            <% } else if (blog.author === "Abhishek Mohan") { %>
              <img class="author-image" src="../../images/Abhishek.jpg"><span class="author-name"><%= blog.author %></span>
            <% } else if (blog.author === "Prabdeep Dhaliwal") { %>
              <img class="author-image" src="../../images/Prab.jpg"><span class="author-name"><%= blog.author %></span>
            <% } else { %>
              Author not named
            <% } %>
          </span>
          <div class="blog-description-text"><%= blog.description %></div>
        </div>
        <div class="blog-btns-container">
          <% if (user != null || user != undefined) { %> 
          <a href="/blogs/edit/<%= blog.id %>" class="a-btn edit-btn">Edit</a>
          <form action="/blogs/<%= blog.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn del-btn">Delete</button>
          </form>
          <% } %> 
        </div>
      </div>
    <% }) %>
    </section>

  <!-- FOOTER  -->
  <%- include('../partials/_footer.ejs') %>
  
</body>
</html>