<!DOCTYPE html>
<html>
  <head>
    <title>Paraverse - <%= title %></title>
    <%- include('../partials/_head.ejs') %>
  </head>
    <body>
      <!-- TOP NAVIGATION BAR -->
      <%- include('../partials/_navbar.ejs') %>
      <br><br><br><br><br>
      <!-- HEADER -->
      <div class="welcome">
        <h2 class="page-title">Account</h2>
        <section>Access all your account and profile details here.</section><br>
        <hr class="welcome"><br>
      

      <main class="account-section">
        <h3>Welcome, <%= user.firstName %> <%= user.lastName %></h3>
        <section class="user-profile">
          <div class="user-account-data-container">
            <span class="user-account-detail">
              <label>First Name: </label>
              <div class="first-name-data-display"><%= user.firstName %></div>
            </span>
          </div>
          <div class="user-account-data-container">
            <span class="user-account-detail">
              <label>Last Name: </label>
              <div class="last-name-data-display"><%= user.lastName %></div>
            </span>
          </div>
          <div class="user-account-data-container">
            <span class="user-account-detail">
              <label>Username: </label>
              <div class="username-data-display"><%= user.username %></div>
            </span>
          </div>
          <div class="user-account-data-container">
            <span class="user-account-detail">
              <label>Email: </label>
              <div class="email-data-display"><%= user.email %></div>
            </span>
          </div>
        </section>
      </main>
      <a href="/account/logout" class="btn-logout">Logout</a>
            <br><br>
    </div>
      <!-- FOOTER  -->
      <%- include('../partials/_footer.ejs') %>
      
    </body>
    </html>