<!DOCTYPE html>
<html>
  <head>
    <title>Paraverse - <%= title %></title>
    <%- include('../partials/_head.ejs') %>
  </head>

  <body>
    <!-- TOP NAVIGATION BAR -->
    <%- include('../partials/_navbar.ejs') %>
    <br><br><br><br><br>
    <!-- HEADER -->
    <hr class="welcome"><br>
    <section class="account-section">
      <h2 class="page-title">Login</h2>
      <form class="account-form" method="POST" action="/account/login">
        Admin Login Only
        <%- include('../partials/messages.ejs')%>
        <label>Username</label>
        <input type="text" name="username" id="username" placeholder="username" />
        <label>Password</label>
        <input type="password" name="password" id="password" placeholder="password" />
        <button class="btn account-button" type="submit">Login</button>
      </form>
    </section>
    <!-- FOOTER  -->
    <%- include('../partials/_footer.ejs') %>

  </body>
</html>