<!DOCTYPE html>
<html>
  <head>
    <title>Paraverse - <%= title %></title>
    <%- include('../partials/_head.ejs') %>
  </head>

  <body>
    <!-- TOP NAVIGATION BAR -->
    <%- include('../partials/_navbar.ejs') %>
    <br><br><br><br><br>
    <!-- HEADER -->
    <hr class="welcome"><br>
    <section class="login-section">
      <h2 class="page-header">Register</h2>
      <form class="login-form" method="POST" action="/account/register">
        <ul class="errors">
          <% errors.forEach(error => { %>
            <li class="error"><%= error %></li>
          <% })%>
        </ul>
        <label for="firstName" name="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="First Name" />
        <label for="lastName" name="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name" />
        <label for="email" name="email">Email</label>
        <input type="email" id="email" placeholder="Email" />
        <label for="username" name="username">Username</label>
        <input type="text" id="username" placeholder="Username" />
        <label for="password" name="password">Password</label>
        <input type="password" id="password" placeholder="Password" />
        <label for="confirmPassword" name="confirmPassword">Confirm Password</label>
        <input type="password" id="confirmPassword" placeholder="Confirm Password" />
        <button type="submit">Login</button>
      </form>
    </section>
    <!-- FOOTER  -->
    <%- include('../partials/_footer.ejs') %>

  </body>
</html>