<!DOCTYPE html>
<html>
  <head>
    <title>Paraverse - <%= title %></title>
    <%- include('../partials/_head.ejs') %>
  </head>

  <body>
    <!-- TOP NAVIGATION BAR -->
    <%- include('../partials/_navbar.ejs') %>
    <br><br><br><br><br>
    <!-- HEADER -->
    <hr class="welcome"><br>
    <section class="login-section">
      <h2 class="page-header">Register</h2>
      <form class="login-form" method="POST" action="/account/register">
        <%- include('../partials/messages.ejs')%>
        <label for="firstName">First Name</label>
        <input type="text" name="firstName" id="firstName" placeholder="First Name" />
        <label for="lastName">Last Name</label>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" />
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" />
        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" />
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" />
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" />
        <button class="form-button" type="submit">Register</button>
      </form>
    </section>
    <!-- FOOTER  -->
    <%- include('../partials/_footer.ejs') %>

  </body>
</html>