<!DOCTYPE html>
<html>
  <head>
    <title>Paraverse - <%= title %></title>
    <%- include('../partials/_head.ejs') %>
  </head>

  <body>
    <!-- TOP NAVIGATION BAR -->
    <%- include('../partials/_navbar.ejs') %>
    <br><br><br><br><br>
    <!-- HEADER -->
    <hr class="welcome"><br>
    <section class="account-section">
      <h2 class="page-title">Register</h2>
      <form class="account-form" method="POST" action="/account/register">
        Admin Registration Only
        <%- include('../partials/messages.ejs')%>
        <label>First Name</label>
        <input type="text" name="firstName" id="firstName" placeholder="First Name" />
        <label>Last Name</label>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" />
        <label>Email</label>
        <input type="email" name="email" id="email" placeholder="Email" />
        <label>Username</label>
        <input minLength="6" type="text" name="username" id="username" placeholder="Username" />
        <label>Password</label>
        <input minLength="8" type="password" name="password" id="password" placeholder="Password" />
        <label>Confirm Password</label>
        <input minLength="8" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" />
        <label>Admin Code</label>
        <input type="password" name="adminCode" id="adminCode" placeholder="Admin Code" />
        <button class="btn account-button" type="submit">Register</button>
      </form>
    </section>
    <!-- FOOTER  -->
    <%- include('../partials/_footer.ejs') %>

  </body>
</html>